
html, body {
    padding: 0rem;
    margin: 0rem;
    height: 100%;
    width: 100%;
}
.menu{
    display: none;
}
#header{
    background-image: url(/images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 15% 30% 40%;

}
#logo{
    padding-left: 1.4rem;
    height: 3rem;
}
#navigation{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    padding-top: 1.2rem;
    grid-column: 1/2;
    grid-row: 1/2;
    flex-wrap: wrap;
}
.nav-links{
    height: 3.5rem;
    grid-column: 3/5;
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nav-links a{
    text-decoration: none;
    color: white;
    margin-top: 1.2rem;
    font-size: 1.3rem;
    padding: auto;
}
#nav-contacts{
    background-color: white;
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
    color: black;
    border-radius: 1.2rem;
    text-align: center;
}
#title{
    color: white;
    font-family: 'Fraunces', serif;
    font-size: 4em;
    text-transform: uppercase;
}
#head-title{
    grid-column: 2/4;
    grid-row: 3/4;
    text-align: center;
    flex-wrap: wrap;
}
/*main content*/
#main-content{
    display:grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}
.content img{
    width: 100%;
    height: 100%;
}
.text{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 35% 40% 25%;
    text-align: justify;
    margin: auto;
}
.text h2{
    font-family: 'Fraunces', serif;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 2.2em;
}
.text p{
    font-family: 'Barlow', sans-serif;
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 1.5em;
    text-align: left;
    flex-wrap: wrap;
    color: hsl(213, 9%, 39%);;
}
.learn-more a{
    font-family: 'Fraunces', serif;
    font-weight: bold;
    color: black;
    text-decoration-line: none ;
    text-transform: uppercase;
    margin-left: 3px;
}
.learn-more{
    grid-row: 3/4;
    grid-column: 2/3;
    border-radius: 10px;
    text-align: left;
    margin-top: 3em;
    width: 25%;
    height: 9px;
    background-position: bottom;
    flex-wrap: wrap;
}
.learn-more-1{
    background-color: #fad400;
}
.learn-more-2{
    background-color: #ffdcd3;
}
.learn{
    position: relative;
    bottom: 13px;
}
/*graphic-photo*/
.Graphic-photo{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows:  60% 10% 30%;
    width: 100%;
    height: 50em;
}
.Graphic-photo p{
    grid-column: 2/ 3;
    grid-row: 3/4;
    font-size: 23px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color: hsl(213, 9%, 39%);
}
.Graphic-photo h2{
    grid-column: 2/3;
    grid-row: 2/3;
    font-family: 'Fraunces', serif;
    font-size: 35px;
    text-align: center;

} 
#Graphic-design{
    background-image: url(/images/desktop/image-graphic-design.jpg);
    background-size: cover;
}
#Photography{
    background-image: url(/images/desktop/image-photography.jpg);
    background-size: cover;
}
/*client testimonials*/
#testimonials-title{
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 5%;
    padding-bottom: 5%;
    color: hsl(210, 4%, 67%);
}
.client-testimonials{
    display: flex;
    justify-content: space-around;
    height: 60vh;
}
.client{
    display:block;
    justify-content: center;
    text-align: center;
    width: 27%;
}
.client p{
    font-family: 'Barlow', sans-serif;
    color: hsl(232, 10%, 55%);
    text-align: center;
    line-height: 2;
    font-size: 20px;
    flex-wrap: wrap;
}
.image-client{
    border-radius: 50%;
}
.client-name{
    font-family: 'Fraunces'serif;
    font-weight: 900;
    color: hsl(213, 9%, 39%);
}
/*gallery*/
#gallery{
    width: 100%;
    display: flex;
}
.img{
    width: 25%;
}
.img img{
    width: 100%;
}
/*footer*/
#foot{
    display: grid;
    text-align: center;
    background-color: #90d4c4;
    height: 50vh;
    width: 100%;
    padding-top: 5em;
}
#foot-title img{
    width:250px;
    height: 40px;
}
#footer-links{
    margin-left: 35%;
    margin-right: 35%;
    display: flex;
    justify-content: space-around;
}
#footer-links a{
    margin-top: -50px;
    text-decoration: none;
    color: hsl(168, 34%, 41%);
    font-family: 'Fraunces', serif;
    font-size: 30px;
}
.social-media{
    margin-left: 35%;
    margin-right: 35%;
    display: flex;
    justify-content: center;
}
.social{
    padding: 0px 20px 0px 20px;
}
.social img{
    width: 30px;
    height: 30px;
}
@media all and (max-width:1250px) {
    p{
        font-size: 0.5em;
        flex-wrap: wrap;
    }
    .nav-links{
        display: none;
    }
    .menu{
        display: block;
        grid-column: 4/5;
        text-align: right;
        margin-right: 2em;
        margin-top: 1.5em;
    }
    .menu-link{
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        grid-column: 2/4;
        grid-row: 1/2;
        justify-content: space-between;
        margin-top: 1.5em;
    }
    .menu-link a{
        text-decoration: none;
        color: white;
    }
    .icon-link{
        width: 100%;
    }
    #title{
        font-size: 2em;
    }
    #main-content{
        display:grid;
        grid-template-columns: 100%;
        width: 100%;
    }
    .content{
        height: 40em;
    }
    .client-testimonials{
        display: block;
        flex-wrap: wrap;
        height: auto;
    }
}
@media all and (max-width:820px){
    .min-text{
        font-size: 0.7rem;
        flex-wrap: wrap;
    }
    .client-testimonials{
        display: block;
        height: auto;
    }
    .client{
        display: flex;
        justify-content: center;
    }
}

